body {
    background-color: rgb(239, 237, 234);
}

.Container {
    padding: 10px;
}

button {
    display: inline-block;
    background-color: azure;
    border:2px gainsboro solid;
}

button:hover {
    border: 2px black solid;
}

